.grid {
    margin: 100px auto;
    box-sizing: border-box;
    border-collapse: collapse;
}
.border{
    border: 1px solid white;
    padding: 0;
    line-height: 0.75em;
}

.hide-buton{
    display: none;
}

.show-button{
    display: inline;
}